$primary: #2a3f7e;
$secundary: #e5eaf9;
$accent: #00d4ff;

$blue: #01283e;
$darkblue: #012438;
$text: white;
$grey: #f0f0f0;

$navbarHeight: 80px;

$background: #fcfcff;
$red: #f44336;
$green: #4caf50;
$orange: #ffab40;
